<template>
    <!-- You can use Templates inside the module -->
</template>

<style>
    /* You can include important inline styles, too. */
</style>

<script type="text/babel">

    export default {
        data() {
            return {
                // define your data here
            }
        }
    }

</script>
